/build/
/dist/
/MANIFEST
*.egg-info/
*.py[cod]

_*/
_*
*_

*.bak
*.download
*.cmt.*
*.3gp
*.asf
*.flv
*.f4v
*.lrc
*.mkv
*.mp3
*.mp4
*.mpg
*.ts
*.webm
*.srt
README.html
README.rst

*.DS_Store
*.swp
*~
